<div class="block block-hero">
  <div class="block-hero__content">
    <div class="caption">About Us</div>
    <h2>Creative from the ground up</h2>
    <div>
      Over the past 25 years we’ve created more than 5,000 new homes and 1.5
      million sq ft of workspace in over 60 regeneration projects.
    </div>
    <div class="block-hero__content-footer">
      <a href="#" class="button">
        Meet our team
        <img
          src="https://assets.website-files.com/5e636f6fc21fd63aeff78a61/5e64b479415f1edfd644fa72_1.svg"
          alt=""
        />
      </a>
    </div>
  </div>

  <img
    class="block-hero__image"
    src="https://assets.website-files.com/5e636f6fc21fd63aeff78a61/5e6381b758df4400c07061ad_real-estate-template-career-p-1600.jpeg"
    alt=""
  />
</div>
