<div class="card">
  <div class="card__icon">
    <img
      src="https://assets.website-files.com/5e636f6fc21fd63aeff78a61/5e63c5bc58df44cfcc71c6f6_arrow-right-circle.svg"
      alt=""
    />
  </div>
  <div class="card__content">
    <div class="card__title">Bow</div>
    A residential magnet within Hamlet Towers. Locals are a stone’s throw from
    the Roman Road Market and can take their finds with them on a stroll through
    the nearby Victoria Park.
    <div class="card__footer">
      <a href="#">View all properties</a>
    </div>
  </div>
</div>
