<div id="cookies" class="block block--dark cookies">
  <div class="container cookies__container">
    <div class="cookies__content">
      We utilise functional cookies to enhance your visit. Please read more
      <a href="/cookies-policy.html">here</a>.
    </div>
    <a href="/" id="cookies__closeButton" class="cookies__closeButton">
      <img
        src="https://assets.website-files.com/5e636f6fc21fd63aeff78a61/5e63a5fe191f2a1d6f11e279_close-24px.svg"
        alt="Cookie's notify close button"
    /></a>
  </div>
</div>

<script src="./js/cookies.js"></script>
