<div class="container">
    <div id="navbar" class="navbar">
      <div class="navbar__menu" onclick="openNav()"></div>
      <div id="navbar__overlay" class="navbar__overlay">
        <div class="navbar__overlay-content">
          <div class="navbar__overlay-menu">
            <div
              class="navbar__overlay-close-button"
              onclick="closeNav()"
            ></div>
            <div class="navbar__nav-container">
              <nav class="navbar__nav">
                <ul>
                  <li class="nav-selected"><a href="#">Home</a></li>
                  <li><a href="#">About</a></li>
                  <li><a href="#">Properties</a></li>
                  <li><a href="#">Journal</a></li>
                  <li><a href="#">Careers</a></li>
                  <li><a href="#">Contact</a></li>
                </ul>
              </nav>
              <div class="navbar__overlay-blocks">
                <div class="navbar__overlay-block">
                  <div class="caption">Contact Us</div>
                  <div class="navbar__overlay-block-text">
                    <p>111-222 Dummy Road <br />City E3 4PB</p>
                    <p>
                      +44 (0) 123456 789 <br />
                      info@template.com
                    </p>
                  </div>
                </div>
                <div class="navbar__overlay-block">
                  <div class="caption">Follow us</div>
                  <div class="navbar__social">
                    <a href="https://twitter.com/home?lang=es">
                      <img
                        src="https://assets.website-files.com/5e636f6fc21fd63aeff78a61/5e636f6fc21fd679e0f78b15_twitter-white.svg"
                        alt="Twitter logo"
                    /></a>
                    <a href="https://facebook.com">
                      <img
                        src="https://assets.website-files.com/5e636f6fc21fd63aeff78a61/5e693321afd7963fbae99717_icon-facebook.svg"
                        alt="Twitter logo"
                    /></a>
                    <a href="https://linkedin.com"
                      ><img
                        src="https://assets.website-files.com/5e636f6fc21fd63aeff78a61/5e693315428ef8f2c75f8e30_icon-linkedin.svg"
                        alt=""
                    /></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="navbar__overlay-banner"></div>
      </div>
      <div class="navbar__brand">
        <a href="/">
          <img
            class="navbar__brand-logo"
            src="https://assets.website-files.com/5e636f6fc21fd63aeff78a61/5e66480f1a010f81156efae8_realestate.svg"
            alt=""
          />
        </a>
      </div>
      <div class="navbar__social">
        <a href="https://twitter.com/home?lang=es">
          <img
            src="https://assets.website-files.com/5e636f6fc21fd63aeff78a61/5e679df79e2b51feb2e5ede2_iconmonstr-twitter-1.svg"
            alt="Twitter logo"
        /></a>
        <a href="https://facebook.com">
          <img
            src="https://assets.website-files.com/5e636f6fc21fd63aeff78a61/5e679e44592da740abfb11bb_iconmonstr-facebook-1.svg"
            alt="Twitter logo"
        /></a>
        <a href="https://linkedin.com"
          ><img
            src="https://assets.website-files.com/5e636f6fc21fd63aeff78a61/5e679e3b9e2b51043ce5ef05_iconmonstr-linkedin-1.svg"
            alt=""
        /></a>
      </div>
    </div>
    <div class="block block-hero">
      <h1>We're estate agents <br />in London.</h1>
    </div>
    <div id="navbar__scroll-hide" class="block block-hero-image">
      <video
        autoplay
        loop
          src="https://assets.website-files.com/5e636f6fc21fd63aeff78a61/5e63a2c2b6815fddfe21faaf_real-estate-2-transcode.mp4"
        
      </video>
    </div>
    <div class="block block-hero">
      <div class="caption">About Us</div>
      <div>Real estatos means remarkable, and remarkable is who we strive to be―in everything we do. From the incredible location of our properties, to the spacious comfort of our serviced apartments. From the dedicated people we hire and partner with, to the impeccable service we provide our guests.</div>
    </div>
    <div class="block block-hero">
      <div class="caption">Latest Properties</div>
      <div class="properties">
        <div class="properties-grid">
          <div class="property">
            <div class="badge-container property__image">
              <img src="https://assets.website-files.com/5e636f6fc21fd612d0f78a85/5e678d47538a1c933d90fed9_real-estate-template-property-thumb-05.jpg" alt="">
              <div class="badge property__image-badge">
                Apartment
              </div>
            </div>
            <div class="property__generals">
              <div class="property__title">The Taproom, Woodhams Brewery</div>
              <div class="property__location">Deptford, London</div>
              <div class="property__price">£3,100 pcm pcm</div>
            </div>
            <div class="property__specs">
              <ul>
                <li>2 bathrooms</li>
                <li>2 bedrooms</li>
                <li>314 sq ft</li>
              </ul>
            </div>
          </div>    
          <div class="property">
            <div class="badge-container property__image">
              <img src="https://assets.website-files.com/5e636f6fc21fd612d0f78a85/5e679081b4e3969373cafe13_real-estate-template-property-thumb-08.jpg" alt="">
              <div class="badge property__image-badge">
                House
              </div>
            </div>
            <div class="property__generals">
              <div class="property__title">New townhouse in Kentish Town</div>
              <div class="property__location">Kenthish Town, London</div>
              <div class="property__price">£1,475 pcm pcm</div>
            </div>
            <div class="property__specs">
              <ul>
                <li>2 bathrooms</li>
                <li>3 bedrooms</li>
                <li>448 sq ft</li>
              </ul>
            </div>
          </div>       
        </div>
        
        <a href="#" class="button">          
        Show all properties
        <img             
          src="https://assets.website-files.com/5e636f6fc21fd63aeff78a61/5e64b479415f1edfd644fa72_1.svg" alt="">          
        </a>    
      </div>           
    </div>        
  </div>