:root {
  --color-primary: #053659;
  --color-secondary: #0069b4;
  --color-accent: #f2ab66;
  --color-button-face: #f2f5f7;
  --color-contrast: #fff;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* 
Typography 
*/

html {
  /* Base rem = 10px */
  font-size: 62.5%;
}

body {
  /*font-family: 'Baskervville', serif;*/
  font-family: "Manrope", sans-serif;
  font-size: 1.8rem;
  line-height: 19.6px;
  color: var(--color-primary);
}

h1,
h2,
h3 {
  font-weight: 600;
}

h1 {
  font-size: 3.6rem;
}
h2 {
  font-size: 2.8rem;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 767px) {
  h1 {
    font-size: 4.4rem;
  }
  h2 {
    font-size: 3rem;
  }
}
/* 
 Links
 */
a {
  text-decoration-style: dotted;
}

/* 
Layout
*/

.block {
  width: 100%;
  margin: 0;
}

.block--dark {
  background-color: var(--color-primary);
  color: var(--color-contrast);
}

.block--dark a:link {
  color: var(--color-contrast);
  text-decoration-color: rgb(215, 215, 215);
}
.block--dark a:visited {
  color: var(--color-contrast);
  text-decoration-color: rgb(215, 215, 215);
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.hidden {
  display: none;
}

/* 
 Components
 */

/* Cookies */
.cookies {
  padding: 1.6rem;
  font-size: 1.2rem;
}

.cookies__container {
  display: flex;
  justify-content: space-between;
}

.cookies__closeButton {
  align-content: center;
  align-self: center;
  background-color: #fff;
  border-radius: 9px;
  display: flex;
  height: 24px;
  justify-content: center;
  margin-left: 1.5rem;
  padding: 4px;
  width: 28px;
}
.cookies__closeButton > img {
  display: inline-block;
  max-width: 100%;
  vertical-align: middle;
}
@media screen and (min-width: 767px) {
  .cookies {
    font-size: 1.6rem;
    padding: 2rem;
  }
  .cookies__closeButton {
    width: 24px;
  }
}

/* 
 NavBar
 */

.navbar {
  background-color: yellow;
  display: flex;
  height: 64px;
  position: sticky;
}

.navbar__menu {
  background-image: url("https://assets.website-files.com/5e636f6fc21fd63aeff78a61/5e69324c7de02faa0b923622_menu-24px.svg");
  background-color: var(--color-button-face);
  background-size: 28px;
  background-position: center;
  background-repeat: no-repeat;
  width: 96px;
  min-width: 96px;
}
.navbar__brand {
  width: 100%;
  text-align: right;
}
.navbar__brand-logo {
  width: 128px;
  height: 100%;
  margin: 0 1rem;
  background: yellowgreen;
}

.navbar__social {
  background: var(--color-accent);
  display: flex;
  align-items: center;

  max-width: 0;
}

.navbar__social a {
  width: 32px;
  height: 32px;
  align-self: middle;
  text-align: center;
  padding-top: 8px;
  border-radius: 14px;
  background: var(--color-button-face);
  margin: 0 0.2rem;
}
.navbar__social img {
  width: 12px;
  height: 12px;
}

@media screen and (min-width: 767px) {
  .navbar__social {
    max-width: 100%;
  }
}

/*
.navbar__button {
  display: block;
  width: 96px;
  height: 94px;
  background-color: var(--color-button-face);
  text-align: center;
  font-size: 2.5rem;
}

.navbar__button {
  display: block;
  width: 96px;
  height: 94px;
  background-color: var(--color-button-face);
  font-size: 2.5rem;
  text-align: center;
}

.navbar__button > a {
  display: block;
  height: 100%;
  width: 100%;
}

.navbar__grid {
  display: grid;
}

.navbar__overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: var(--color-primary);
  overflow-x: hidden;
  transition: 0.2s;
}

.navbar__overlay-content {
  margin: 2rem;
}

.navbar__overlay a {
  color: var(--color-contrast);
}
*/
