:root {
  --color-primary: #053659;
  --color-primary-dark: #032741;
  --color-secondary: #0069b4;
  --color-accent: #f2ab66;
  --color-button-face: #f2f5f7;
  --color-contrast: #fff;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* 
Typography 
*/

html {
  /* Base rem = 10px */
  font-size: 62.5%;
}

body {
  /*font-family: 'Baskervville', serif;*/
  font-family: "Manrope", sans-serif;
  font-size: 1.8rem;
  line-height: 19.6px;
  color: var(--color-primary);
}

h1,
h2,
h3 {
  font-weight: 600;
}

h1 {
  font-size: 3.6rem;
  line-height: 3.8rem;
}
h2 {
  font-size: 2.8rem;
}

p {
  margin-top: 0;
}

.caption {
  color: var(--color-accent);
  font-size: 1.1rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 2rem;
  margin-bottom: 1rem;
  letter-spacing: 1px;
}

@media screen and (min-width: 767px) {
  h1 {
    font-size: 5rem;
    line-height: 1.1;
  }
  h2 {
    font-size: 3rem;
  }
}
/* 
 Links
 */
a {
  text-decoration-style: dotted;
}

/* 
Layout
*/

.block {
  width: 100%;
  margin: 0;
}

.block--dark {
  background-color: var(--color-primary);
  color: var(--color-contrast);
}

.block--dark a:link {
  color: var(--color-contrast);
  text-decoration-color: rgb(215, 215, 215);
}
.block--dark a:visited {
  color: var(--color-contrast);
  text-decoration-color: rgb(215, 215, 215);
}

/* Hero */
.block-hero {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 3rem;
  font-size: 2rem;
  font-weight: 300;
  line-height: 3rem;
  display: grid;
  grid-template-rows: auto 320px;
}

.block-hero__image {
  overflow: hidden;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.block-hero__image-right {
  padding-left: 1.6rem;
  padding-top: 3rem;
  height: 320px;
}

.block-hero-image > video {
  display: block;
  width: 100%;
  height: 320px;
  object-fit: cover;
}

.block-hero__content-footer {
  margin: 2rem 0;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  position: relative;
}

.hidden {
  display: none;
}

ul {
  list-style-type: none;
  padding-left: 0;
}
@media screen and (min-width: 768px) {
  .block-hero {
    padding-left: 15rem;
    padding-right: 6rem;
    padding-top: 4rem;
    font-size: 2.6rem;
    line-height: 3.9rem;
  }

  .block-hero__image {
    width: 100%;
    height: 100%;
  }
  .block-hero__image-right {
    padding-left: 20rem;
    padding-right: 1rem;
    padding-top: 3rem;
  }
}

/* 
 Components
 */

/* Cookies */
.cookies {
  padding: 1.6rem;
  font-size: 1.2rem;
}

.cookies__container {
  display: flex;
  justify-content: space-between;
}

.cookies__closeButton {
  align-content: center;
  align-self: center;
  background-color: #fff;
  border-radius: 9px;
  display: flex;
  height: 24px;
  justify-content: center;
  margin-left: 1.5rem;
  padding: 4px;
  width: 28px;
}
.cookies__closeButton > img {
  display: inline-block;
  max-width: 100%;
  vertical-align: middle;
}
@media screen and (min-width: 767px) {
  .cookies {
    font-size: 1.6rem;
    padding: 2rem;
  }
  .cookies__closeButton {
    width: 24px;
  }
}

/* 
 NavBar
 */

.navbar {
  display: flex;
  height: 64px;
  top: 0;
  z-index: 100;
  background-color: #fff;
}

.navbar__menu {
  background-color: var(--color-button-face);
  background-image: url("https://assets.website-files.com/5e636f6fc21fd63aeff78a61/5e69324c7de02faa0b923622_menu-24px.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
  min-width: 96px;
  width: 96px;
}

.navbar__brand {
  width: 100%;
  text-align: right;
}

.navbar__brand-logo {
  height: 100%;
  margin: 0 1rem;
  width: 128px;
}

/*    social */
.navbar__social {
  align-items: center;
  display: flex;
  max-width: 0;
}

.navbar__social a {
  align-self: middle;
  background: var(--color-button-face);
  border-radius: 14px;
  height: 32px;
  margin: 0 0.2rem;
  padding-top: 8px;
  text-align: center;
  width: 32px;
}

.navbar__social img {
  height: 12px;
  width: 12px;
}

.navbar__overlay-block .navbar__social {
  max-width: inherit;
}
.navbar__overlay-block .navbar__social a {
  background-color: var(--color-primary-dark);
}

/*    overlay */
.navbar__overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: var(--color-primary);
  overflow-x: hidden;
  transition: 0.2s;
  display: grid;
  grid-template-columns: auto 0;
}

.navbar__overlay-content {
  margin: 2rem;
  color: #fff;
}

.navbar__overlay-close-button {
  background-image: url("https://assets.website-files.com/5e636f6fc21fd63aeff78a61/5e636f6fc21fd67d24f78a9e_close-24px.svg");
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
}

.navbar__overlay-banner {
  width: 347px;
  height: 100vh;
  background-image: url("https://assets.website-files.com/5e636f6fc21fd63aeff78a61/5e63c7c2191f2adb0612b6bf_real-estate-template-about-02.jpg");
  background-position: center;
}

.navbar__overlay-menu {
  display: grid;
  height: 100%;
  grid-template-rows: 1fr auto;
}

.navbar__nav ul {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 3.5rem;
  margin: 0;
}

.navbar__nav a {
  color: var(--color-contrast);
  text-decoration: none;
  transition: color 0.3s ease;
}
.navbar__nav a:hover {
  color: var(--color-accent);
}
.nav-selected a {
  color: var(--color-accent);
}

.navbar__nav-container {
  display: flex;
  flex-direction: column;
}

.navbar__overlay-blocks {
  display: grid;
}

.navbar__overlay-block-text {
  font-size: 1.5rem;
  line-height: 19px;
}

@media screen and (min-width: 767px) {
  .navbar {
    margin: 3rem 0;
  }
  .navbar__brand {
    text-align: left;
  }
  .navbar__social {
    max-width: 100%;
  }
  .navbar__overlay-content {
    margin: 6rem;
  }
  .navbar__overlay {
    grid-template-columns: auto 347px;
  }
  .navbar__nav-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
  .navbar__nav ul {
    font-size: 3rem;
    line-height: 4.5rem;
  }
  .navbar__overlay-blocks {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}

/*
 Properties 
 */

.properties-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 1.6rem;
  margin-bottom: 2rem;
}
.property__image {
  overflow: hidden;
  position: relative;
}
.property__image img {
  width: 100%;
  transition: all 0.2s ease-in-out;
}

.property__image img:hover {
  transform: scale(1.1);
}

.property__image-badge {
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 0.5rem;
  border-radius: 5px;
  padding: 0 1rem;
  color: var(--color-contrast);
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0.8px;
  background-color: var(--color-accent);
  z-index: 100;
}

.property__generals {
  display: grid;
  grid-template-rows: auto auto auto;
}

.property__title {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.5rem;
}

.property__location {
  font-family: "Baskervville", serif;
  font-size: 1.6rem;
}

.property__price {
  font-size: 1.8rem;
  color: var(--color-accent);
  font-weight: 600;
}

.property__specs {
  font-size: 1.6rem;
}

.property__specs li {
  border-top: var(--color-primary) dotted 1px;
}

@media screen and (min-width: 767px) {
  .properties-grid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    padding-top: 4px;
  }
  .property__image-badge {
    line-height: 3rem;
  }
}

/* 
Button
*/

.button {
  background-color: var(--color-button-face);
  padding: 1.5rem;
  vertical-align: middle;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--color-primary);
  text-decoration: none;
}

.button > img {
  vertical-align: middle;
  padding-left: 2rem;
  width: 32px;
  height: 32px;
  border-radius: 20px;
  padding: 8px;
  background-color: var(--color-accent);
  margin-left: 1rem;
}
.button__icon > img {
  background-color: var(--color-accent);
  width: 8px;
}

/*
 Areas 
 */

.areas {
  display: grid;
  grid-template-rows: 360px auto;
}

.areas__img {
  width: 100%;
}

.areas__content {
  background-image: linear-gradient(135deg, rgb(0, 48, 94), rgb(0, 105, 180));
  padding: 2rem;
  padding-top: 0;
}

.areas__content h2 {
  color: var(--color-contrast);
  margin: 0;
}

.areas__content-heading {
  padding-bottom: 5rem;
}

.areas__content-cards {
  display: grid;
  gap: 0.3rem;
  padding-top: 1rem;
}

@media screen and (min-width: 767px) {
  .areas {
    grid-template-columns: 300px auto;
    grid-template-rows: auto;
  }

  .areas__img {
    object-fit: cover;
    height: 100%;
  }
  .areas__content {
    padding: 5rem;
    padding-top: 2rem;
  }

  .areas__content-cards {
    padding-top: 3rem;
    grid-template-columns: 1fr 1fr;
  }
}

/*
 Card
 */

.card {
  background-color: #fff;
  display: grid;
  grid-template-columns: 5rem auto;
  gap: 1rem;
}

.card__icon {
  margin: 1rem;
}

.card__title {
  font-size: 1.9rem;
  font-weight: 600;
  line-height: 2.5rem;
}

.card__content {
  padding-top: 1rem;
  font-size: 1.6rem;
  font-weight: 300;
}

.card__footer {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.card__footer a {
  text-decoration: none;
  color: var(--color-secondary);
}
