<div id="properties" class="container block block-hero">
  <div class="caption">Latest Properties</div>
  <div class="properties">
    <div class="properties-grid">
      <div class="property">
        <div class="badge-container property__image">
          <img
            src="https://assets.website-files.com/5e636f6fc21fd612d0f78a85/5e678d47538a1c933d90fed9_real-estate-template-property-thumb-05.jpg"
            alt=""
          />
          <div class="badge property__image-badge">Apartment</div>
        </div>
        <div class="property__generals">
          <div class="property__title">The Taproom, Woodhams Brewery</div>
          <div class="property__location">Deptford, London</div>
          <div class="property__price">£3,100 pcm pcm</div>
        </div>
        <div class="property__specs">
          <ul>
            <li>2 bathrooms</li>
            <li>2 bedrooms</li>
            <li>314 sq ft</li>
          </ul>
        </div>
      </div>
      <div class="property">
        <div class="badge-container property__image">
          <img
            src="https://assets.website-files.com/5e636f6fc21fd612d0f78a85/5e679081b4e3969373cafe13_real-estate-template-property-thumb-08.jpg"
            alt=""
          />
          <div class="badge property__image-badge">House</div>
        </div>
        <div class="property__generals">
          <div class="property__title">New townhouse in Kentish Town</div>
          <div class="property__location">Kenthish Town, London</div>
          <div class="property__price">£1,475 pcm pcm</div>
        </div>
        <div class="property__specs">
          <ul>
            <li>2 bathrooms</li>
            <li>3 bedrooms</li>
            <li>448 sq ft</li>
          </ul>
        </div>
      </div>
    </div>

    <a href="#" class="button">
      Show all properties
      <img
        src="https://assets.website-files.com/5e636f6fc21fd63aeff78a61/5e64b479415f1edfd644fa72_1.svg"
        alt=""
      />
    </a>
  </div>
</div>
