<div id="journal" class="block block-hero block--face journal">
  <div class="container journal__content">
    <div class="caption">The insider</div>
    <h2>Journal</h2>
    <div class="journal__grid">
      <div class="journal__item">
        <div class="badge-container journal__item-image">
          <div class="badge journal__item-badge">
            <span class="color-accent">11 min</span> reading time
          </div>
          <img
            src="https://assets.website-files.com/5e636f6fc21fd612d0f78a85/5e665c3b4fda92a002167063_real-estate-template-blogthumb-01.jpg"
            alt=""
          />
        </div>
        <div class="journal__item-date">March 10, 2020</div>
        <div class="journal__item-description">
          The Best East London Cycle Routes: A Guide
        </div>
      </div>
      <div class="journal__item">
        <div class="badge-container journal__item-image">
          <div class="badge journal__item-badge">
            <span class="color-accent">4 min</span> reading time
          </div>
          <img
            src="https://assets.website-files.com/5e636f6fc21fd612d0f78a85/5e665fa1bc2ae5a53125c80c_real-estate-template-blogthumb-02.jpg"
            alt=""
          />
        </div>
        <div class="journal__item-date">March 10, 2020</div>
        <div class="journal__item-description">
          Gazumping and gazundering in property: What do they mean?
        </div>
      </div>
      <div class="journal__item">
        <div class="badge-container journal__item-image">
          <div class="badge journal__item-badge">
            <span class="color-accent">4 min</span> reading time
          </div>
          <img
            src="https://assets.website-files.com/5e636f6fc21fd612d0f78a85/5e669149d339463cc3ef9d74_real-estate-template-services-p-500.jpeg"
            alt=""
          />
        </div>
        <div class="journal__item-date">March 10, 2020</div>
        <div class="journal__item-description">
          Living in Canary Wharf: A Guide
        </div>
      </div>
    </div>
  </div>
</div>
