<div
  id="contact-careers"
  class="container block block-hero block-hero-grid contact-careers"
>
  <div class="card">
    <div class="card__icon">
      <img
        src="https://assets.website-files.com/5e636f6fc21fd63aeff78a61/5e63c5bc58df44cfcc71c6f6_arrow-right-circle.svg"
        alt=""
      />
    </div>
    <div class="card__content">
      <div class="card__title">Contact</div>
      There's always a starting point. We believe that a good conversation is
      about considering your options and seeing if we can help.
    </div>
  </div>
  <div class="card">
    <div class="card__icon">
      <img
        src="https://assets.website-files.com/5e636f6fc21fd63aeff78a61/5e63c5bc58df44cfcc71c6f6_arrow-right-circle.svg"
        alt=""
      />
    </div>
    <div class="card__content">
      <div class="card__title">Careers</div>
      When you join us, you have the opportunity to be a part of a team
      investing in what matters: our world and how we live in it.
    </div>
  </div>
</div>
